/* 31393c, e1ce7a, ebcfb2, c5baaf, ffffff */
* { /* for all tags/elements */
    box-sizing: border-box; /* width and height apply to the border */
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
    scroll-behavior:smooth;
    /* font-family: 'Monaco', Courier, monospace; */
}

body {
    background-color: red;
    display: flex;
    flex-direction: column;
}

pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: keep-all;
}

.inline__div {
    display: block;
    text-align: center;
}

.inline__header {
    display: inline-block;
    text-align: center;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.nowrap {
    white-space: nowrap;
}

.lg__view {
    display: inline-block;
}

.sm__view {
    display: none;
}

@media screen and (max-width: 1300px) {
    body, html {
        overflow-x: hidden;
        position: relative;
        width: 100%;
    }
    body {
        overflow-y: visible;
        width: 100%;
    }

    div {
        /* overflow-y: hidden; */
        overflow-x: visible;
    }

    ul, ol {
        overflow-x: visible;
    }
    .lg__view {
        display: none;
    }

    .sm__view {
        display: inline-block;
    }

}
/* NAVBAR HEIGHT IS 60px */
.navbar {
    background: #13191b;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(1.2rem, 3vw);
    width: 100%;
    position: fixed !important; /* sticky not working */
    top: 0;
    z-index: 99;
}

.navbar__container {
    display: flex;
    justify-content: space-between; /* space between the list and the main link */
    height: 60px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    /* position: sticky; */
}

#navbar-logo {
    background-color: #e1ce7a; /* backup colour  */
    /* change text colour */
    background-image: linear-gradient(to top, #e9e0b9 0%, #ffd723 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text; /* for chrome and safari */
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text; /* for firefox */
    -moz-text-fill-color: transparent;
    
    display: flex;
    align-items: center;
    /* cursor: pointer; redundant */
    text-decoration: none; /* semi redundant */
    font-size: 2rem;
    z-index: 99;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    z-index: 99; /* above other elements */
}

.navbar__item {
    height: 60px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(15vw, 125px); /* width between items */
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #e1ce7a;
    transform: all 0.3s ease;
}

.welcome__section {
    display: flex;
    flex-direction: column;
    padding: 100px min(5vw, 50px);
    width: 100%;

    font-size: 5vh;
    color: white;
    text-align: center;
    background: linear-gradient(to left, 
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.2)
      ),
    url(https://media.istockphoto.com/photos/programming-source-code-on-digital-screen-software-developer-and-picture-id1336271758?b=1&k=20&m=1336271758&s=170667a&w=0&h=HoJqtqo1r54eZf9G4OqBXRHXLsYoD0X9wMR-vXFBiTE=);
    background-repeat: no-repeat;
    background-size: cover;

}

#HTML__text {
    background-color: red;
    background-size: 100%;
    background-clip: text;

    background-image: linear-gradient(to right, red 50%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    opacity: 100%;
    
}

.welcome__header {
    font-size: min(20vh, 15vw);
    color: white;
}

.about__section {
    display: flex;
    flex-direction: column;
    font-size: 3vh;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 100px min(400px, 15vw);

    background-color: #13191b;
    background-image: linear-gradient(to left, #13191b 0%, black 100%);
}

.about__header {
    color: #6589ff;
    padding-top: 5vh;
}

.about__description {
    color: #daffefc0;
}

.highlighted__text{
    background-color: lightblue;
    background-size: 100%;
    background-clip: text;

    background-image: linear-gradient(to right, rgb(194, 224, 22) 0%, rgba(217, 255, 49, 0.61) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    
}

#types__of__tags {
    color: lightblue;
    background-color: lightblue;
    background-size: 100%;
    background-clip: text;

    background-image: linear-gradient(to right, lightblue 0%, rgba(0, 0, 255, 0.61) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.sample__code {
    color: black;
    font-size: min(4vw, 3vh);
    text-align: left;

    background-color: white;
    border-radius: 1vh;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

.indent {
    padding-left: 6vh;
}

.text__tab {
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    background-color: #ff8080;
    transform: translateY(-100px);
    /* mix-blend-mode: lighten; */
}

.text__section {
    /* makes div height change depending on content */
    display: flex;
    flex-direction: column;

    font-size: 5vh;
    /* padding: 0 min(400px, 20vw); */
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 100px min(400px, 10vw);
    padding-bottom: 0;
    min-height: 20vh;

    background-color: #13191b;
    background-image: linear-gradient(to top left, #C0FDFB 0%, #80fffb 100%);
}

.text__description {
    /* makes div height change depending on content */
    /* padding: 100px ; */
    color: #31393c;
}

.text__header {
    font-size: min(15vh, 30vw);
    color: #31393c;
    position: relative;
    padding: 5.5vh 5vw;

    display: inline-block;
}

.text__header span { /* affects span content */
    background-color: #e1ce7a;
    /* backup colour  */
    /* change text colour */
    background-image: linear-gradient(to right, #e9e0b9 0%, #ffd723 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text; /* for chrome and safari */
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text; /* for firefox */
    -moz-text-fill-color: transparent;

    font-weight: 800;
    /* font-style: italic; clipping occuring */

}

#text__colour {
    background-color: #e1ce7a;
    /* backup colour  */
    /* change text colour */
    background-image: linear-gradient(to right, red 0%, #3223ff 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text; /* for chrome and safari */
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text; /* for firefox */
    -moz-text-fill-color: transparent;
}

.example__foramting {
    /* makes div height change depending on content */

    width: 100%;

    background-color: #c7baae;
    font-size: min(110px, 7vw);
    font-weight: 900;
    padding: 5vh 5vw;

    background-image: linear-gradient(to right, rgb(217, 255, 0) 0%, rgb(255, 121, 121) 100%);
    background-size: 100%;
    display: inline-block;
}

.formatting__section {
    /* makes div height change depending on content */
    display: flex;
    flex-direction: column;

    font-size: 5vh;
    /* padding: 0 min(400px, 20vw); */
    text-align: center;
    width: 100%;

    background-color: #DAFFEF;
    padding: 5vh 10vw;
}

.text__example__paragraph {
    color: black;
    font-size: min(2vh, 4vw);
    padding: 10px 10vw;
}

#list__text {
    font-size: min(5vh, 7vw);
}

#left__text {
    width: 33%;
    text-align: left;
    float: left;
    padding: 0 0;
}

#right__text {
    width: 33%;
    text-align: right;
    float: right;
    padding: 0 0;
}

#center__text {
    width: 34%;
    text-align: center;
    float: right;
}

.testing__section {
    background-color: #80fffb;
    display: flex;
    flex-direction: column;
    padding: 3vh 10vw;
    align-items : center;
    justify-content: center;
}

.test__button {
    border-radius: 1vh;
    width: 10vw;
}

.testing__paragraph {
    animation: test__animation 2s infinite ease-in-out;
    animation-direction: alternate-reverse;
    animation-play-state: paused;
    text-align: center;
}

@keyframes test__animation {
    0% {transform: translateX(-100px);}
    100% {transform: translateX(100px);}  
}

.span__paragraph {
    text-align: center;
    
}

.second-test-div {
    background-color: #DAFFEF;
    color: #31393c;
    text-align: left;
    padding: 5%;
    height: 100px;
}
